[garage]
type = s3
provider = Other
access_key_id = {{ pve_host_backup_garage_key_id }}
secret_access_key = {{ pve_host_backup_garage_secret }}
endpoint = {{ pve_host_backup_garage_endpoint }}
region = {{ pve_host_backup_garage_region }}
