TF_VAR_mikrotik_url={{ atlantis_mikrotik_url }}
TF_VAR_mikrotik_user={{ atlantis_mikrotik_user }}
TF_VAR_mikrotik_password={{ atlantis_mikrotik_password }}
TF_VAR_mikrotik_insecure=true
AWS_ACCESS_KEY_ID={{ atlantis_aws_access_key_id }}
AWS_SECRET_ACCESS_KEY={{ atlantis_aws_secret_access_key }}
AWS_ENDPOINT_URL_S3={{ atlantis_aws_endpoint_url_s3 }}
AWS_REGION={{ atlantis_aws_region }}
AWS_EC2_METADATA_DISABLED=true
AWS_STS_REGIONAL_ENDPOINTS=regional
TF_VAR_proxmox_api_url={{ atlantis_proxmox_api_url }}
TF_VAR_proxmox_api_token_id={{ atlantis_proxmox_api_token_id }}
TF_VAR_proxmox_api_token_secret={{ atlantis_proxmox_api_token_secret }}
TF_VAR_cloudflare_api_token={{ atlantis_cloudflare_api_token }}
