apiVersion: v1
kind: Config
clusters:
  - name: homelab-k3s
    cluster:
      server: https://10.0.20.11:6443
      certificate-authority: {{ github_actions_runner_dir }}/k3s-server-ca.crt
contexts:
  - name: drift-checker
    context:
      cluster: homelab-k3s
      user: drift-checker
      namespace: monitoring
current-context: drift-checker
users:
  - name: drift-checker
    user:
      token: {{ vault_drift_checker_token }}
